html * {
    direction: rtl !important;
    font-family: Vazir;
}
/* ---------------------------------------------------- fonts --------------------------------------------------- */
@font-face {
    font-family: Vazir;
    src: url('Fonts/vazir-font-v7/Vazir.eot');
    src: url('Fonts/vazir-font-v7/Vazir.eot?#iefix') format('embedded-opentype'),
    url('Fonts/vazir-font-v7/Vazir.woff') format('woff'),
    url('Fonts/vazir-font-v7/Vazir.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: Vazir;
    src: url('Fonts/vazir-font-v7/Vazir-Bold.eot');
    src: url('Fonts/vazir-font-v7/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
    url('Fonts/vazir-font-v7/Vazir-Bold.woff') format('woff'),
    url('Fonts/vazir-font-v7/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: Vazir;
    src: url('Fonts/vazir-font-v7/Vazir-Light.eot');
    src: url('Fonts/vazir-font-v7/Vazir-Light.eot?#iefix') format('embedded-opentype'),
    url('Fonts/vazir-font-v7/Vazir-Light.woff') format('woff'),
    url('Fonts/vazir-font-v7/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
}

/* ---------------------------------------------------- types --------------------------------------------------- */

select {
    width: 100%;
    border-radius: 8px;
    border: 0px;
    font-size: small;
    margin: 0px;
}

body {
    background-color: white;
    /*height: 100vh;*/
}
header {
    width: 100%;
    margin: auto;
    padding: 10px;
    color: #3D4067;
    position:fixed;
    /*top: 0px;*/
    background: inherit;
    z-index: 10;
    background-color: white;
}
footer {
    /*position: absolute;*/
    /*bottom: 2%;*/
    /*width: 100%;*/
    margin: 2%;
    font-size: small;
    text-align: center;
    color: black;
}
/* --------------------------------------------------- classes -------------------------------------------------- */
.heading {
    background-color: #686CA7;
    color: white;
    text-align: center;
    padding: 2%;
    margin: auto;
    width: 100%;
    margin-top: 90px;
    /*top: 500px;*/
}
.container {
    margin: auto;
    top: 20%;
    z-index:5;
    overflow:auto;
}
.brand-logo {
    float: right;
    vertical-align: middle;
    font-size: large;
}
.brand-logo img {
    height: 40px;
    width: auto;
    vertical-align: middle;
    margin-left: 10px;
}
.brand-logo * {
    display: inline-block;
}
.username {
    float: left;
    font-size: medium;
    vertical-align: middle;
    /*padding: 2%;*/
}
.toolbar {
    width: 95%;
    margin-top: 1%;
    margin-bottom: 1%;
    /*margin: auto;*/
    padding: 10px;
    color: black;
}
.time {
    color: red;
    display: inline-block;
}
.timing {
    float: left;
}
.backtosearch {
    display: inline-block;
}
.gray-back {
    background-color: #EEEEEE;
    width: 80%;
    /*height: 100vh;*/
    /*bottom: 2%;*/
    margin: auto;
    padding: 3%;
    border-radius: 5px;
}
.row {
    background-color: white;
    align-content: center;
    vertical-align: middle;
    horiz-align: center;
    width: 100%;
    margin: 1% auto;
    padding: 1%;
    color: #696969;
    border-radius: 5px;
}
.gray-row {
    background-color: #EEEEEE;
    align-content: center;
    vertical-align: middle;
    horiz-align: center;
    width: 100%;
    /*height: 20%;*/
    margin-top: 1%;
    margin-bottom: 1%;
    /*padding: 1%;*/
    color: #3D4067;
    display: inline-block;
}
.place-middle {
    text-align: center;
    vertical-align: middle;
    margin-top: 1%;
    margin-bottom: 1%;
}
.gender-type {
    border-radius: 5px;
    border: none;
    font-size: small;
    padding: 5%;
}
.passenger-info {
    width: 100%;
    /*width: 100%;*/
    padding: 4%;
    font-size: small;
    border-radius: 3px;
    border: none;
    /*margin: 1%;*/
    margin-outside: 1%;
    display: inline-block;
}

.passenger-info-list{
    text-align: center;
}

.hidden-mobile {
    float: right;
    font-size: large;
}

#infant-8 {
    font-size: small;
    padding-right: 2.5%;
}

#infant-9 {
    font-size: small;
    padding-right: 2.5%;
}

#infant-10 {
    font-size: small;
    padding-right: 2.5%;
}

.gray-font {
    color: gray;
    margin-bottom: 2%;
}

#information {
    margin-top: 2%;
}

#paycheck {
    margin-top: 2%;
}

/* ---------------------------------------------------- paycheck-info ---------------------------------------------------- */

#transfer-paycheck-info {
    font-size: small;
    padding-left: 5%;
    padding-right: 5%;
}

#first-line {
    background-color: #EEEEEE;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: thin;
    border-color: gray;
}

#third-line {
    background-color: #EEEEEE;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: thin;
    border-color: gray;
}

#last-line {
    background-color: #9AE09D;
}

#paycheck-header {
    color: gray;
    align-content: center;
    vertical-align: center;
    horiz-align: center;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    display: inline-block;
}

.paycheck-line {
    color: black;
    align-content: center;
    /*text-align: center;*/
    horiz-align: center;
    width: 100%;
    /*margin: 2%;*/
    padding-top: 1%;
    padding-bottom: 1%;
    display: inline-block;
}
/* ---------------------------------------------------- ID's ---------------------------------------------------- */
/*#passenger-rows {*/
/*!*background-color: #696969;*!*/
/*!*align-content: center;*!*/
/*!*vertical-align: middle;*!*/
/*!*horiz-align: center;*!*/
/*width: 95%;*/
/*margin: 1% auto;*/
/*padding: 1%;*/
/*color: #3D4067;*/
/*!*height: 100px;*!*/
/*!*border-radius: 5px;*!*/
/*}*/

/* -------------------------------------------------- combined -------------------------------------------------- */
#search{
    display: inline;
    color: #3D4067;
}
#choose{
    display: inline;
    color: #3D4067;
}
#reserve{
    display: inline;
    color: white;
}
#ticket{
    display: inline;
    color: #3D4067;
}
@media only screen and (max-width: 600px) {
    .hidden-mobile{
        display: none;
    }
}

/* ----------------------------------------------- gender-dropdown ----------------------------------------------- */

nav ul {
    color: grey;
    background-color: #FFFFFF;
    border-radius: 3px;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

nav ul li{
    vertical-align: middle;
    display:inline-block;
    width: 100%;
}

nav a {
    font-size: small;
    display:block;
    color: grey;
    text-decoration:none;
    line-height: 24px;
}

nav a:hover {
    background-color: #EEEEEE;
    color: grey;
}

nav a:active {
    background-color: #D3D3D3;
    color: grey;
}

nav ul ul {
    display: none;
    z-index: 1;
    position: absolute;
    top: 24px;
}

nav ul li:hover > ul {
    display: block;
}

nav ul ul li {
    font-size: small;
    text-align: center;
    float: none;
    display: list-item;
    position: relative;
    background-color: #FFFFFF;
}

/* ----------------------------------------------- username-dropdown ----------------------------------------------- */

.dropbtn {
    background-color: white;
    color: #3D4067;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    border: none;
}
.username-dropdown {
    float: left;
    font-size: medium;
    vertical-align: middle;
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: #3D4067;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #EEEEEE}
.dropdown-content a:active {background-color: #D3D3D3}
.username-dropdown:hover .dropdown-content {
    display: block;
    border-radius: 5px;
}
.username-dropdown:hover .dropbtn {
    color: #686CA7;
}
/* ---------------------------------------------------- buttons ---------------------------------------------------- */
.button-row{
    /*width: 100%;*/
    /*direction: ltr !important;*/
    display: flex;
    margin-top: 1%;
    /*margin-bottom: 1%;*/
}
.bottom-page-btn {
    padding: 4%;
    width: 100%;
    margin-top: 3%;
    /*height: 100%;*/
    color: white;
    text-align: center;
    border-radius: 5px;
    border:none;
}
.bottom-page-btn:hover{
    box-shadow: 5px 5px 5px #888888;
    transition: box-shadow 0.3s ease-in-out;
}

#reject-button {
    font-size: small;
    height: 95%;
    background-color: #E99488;
    width: 75%;
    float: left;
    /*display: inline-block;*/
}

#pay-button {
    font-size: small;
    height: 95%;
    background-color: #3D4067;
    /*display: inline-block;*/
}

.bottom-page-btn:active {
    box-shadow: 5px 5px 5px #DDDDDD;
    transition: box-shadow 0.3s ease-in-out;
}