html * {
    direction: rtl !important;
    font-family: Vazir;
}

/* ---------------------------------------------------- fonts --------------------------------------------------- */

@font-face {
    font-family: Vazir;
    src: url('Fonts/vazir-font-v7/Vazir.eot');
    src: url('Fonts/vazir-font-v7/Vazir.eot?#iefix') format('embedded-opentype'),
    url('Fonts/vazir-font-v7/Vazir.woff') format('woff'),
    url('Fonts/vazir-font-v7/Vazir.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Vazir;
    src: url('Fonts/vazir-font-v7/Vazir-Bold.eot');
    src: url('Fonts/vazir-font-v7/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
    url('Fonts/vazir-font-v7/Vazir-Bold.woff') format('woff'),
    url('Fonts/vazir-font-v7/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Vazir;
    src: url('Fonts/vazir-font-v7/Vazir-Light.eot');
    src: url('Fonts/vazir-font-v7/Vazir-Light.eot?#iefix') format('embedded-opentype'),
    url('Fonts/vazir-font-v7/Vazir-Light.woff') format('woff'),
    url('Fonts/vazir-font-v7/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
}

/* ---------------------------------------------------- types --------------------------------------------------- */

body {
    background-color: white;
    height: 100vh;
}

header {
    width: 80%;
    margin: auto;
    padding: 10px;
    color: #3D4067;
    /*position:fixed;*/
    /*top: 0px;*/
    background-color: white;
}

footer {
    position: relative;
    bottom: 5%;
    width: 100%;
    text-align: center;
    color: black;
}

/* --------------------------------------------------- classes -------------------------------------------------- */

.heading {
    background-color: #686CA7;
    color: white;
    text-align: center;
    padding: 2%;
    margin: auto;
}

.container {
    margin: auto;
    top: 20%;
}

.brand-logo {
    float: right;
    vertical-align: middle;
    font-size: x-large;
}

.brand-logo img {
    height: 40px;
    width: auto;
    vertical-align: middle;
    margin-left: 10px;
}

.brand-logo * {
    display: inline-block;
}

.username {
    float: left;
    font-size: medium;
    padding: 1%;
}

.toolbar {
    width: 80%;
    margin: auto;
    padding: 10px;
    color: black;
}

.time {
    color: red;
    display: inline-block;
}

.timing {
    float: left;
}

.backtosearch {
    display: inline-block;
}

.grayback {
    background-color: #EEEEEE;
    width: 80%;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
}

.row {
    background-color: white;
    align-content: center;
    vertical-align: middle;
    horiz-align: center;
    width: 95%;
    margin: 10px auto;
    padding: 1%;
    color: #696969;
    border-radius: 5px;
}

.place-middle {
    text-align: center;
    vertical-align: middle;
    margin: 10px auto;
}

.gender-type {
    border-radius: 8px;
    border: 0px;
    font-size: small;
}

/* ---------------------------------------------------- ID's ---------------------------------------------------- */



/* -------------------------------------------------- combined -------------------------------------------------- */

#search{
    display: inline;
    color: #3D4067;
}

#choose{
    display: inline;
    color: #3D4067;
}

#reserve{
    display: inline;
    color: white;
}

#ticket{
    display: inline;
    color: #3D4067;
}


@media only screen and (max-width: 600px) {

    .hidden-mobile{
        display: none;
    }
    /*body {*/
        /*background-color: lightblue;*/
    /*}*/
}