
html * {
    direction: rtl !important;
    font-family: Vazir;
}
/* ---------------------------------------------------- fonts --------------------------------------------------- */
@font-face {
    font-family: Vazir;
    src: url('Fonts/vazir-font-v7/Vazir.eot');
    src: url('Fonts/vazir-font-v7/Vazir.eot?#iefix') format('embedded-opentype'),
    url('Fonts/vazir-font-v7/Vazir.woff') format('woff'),
    url('Fonts/vazir-font-v7/Vazir.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: Vazir;
    src: url('Fonts/vazir-font-v7/Vazir-Bold.eot');
    src: url('Fonts/vazir-font-v7/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
    url('Fonts/vazir-font-v7/Vazir-Bold.woff') format('woff'),
    url('Fonts/vazir-font-v7/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: Vazir;
    src: url('Fonts/vazir-font-v7/Vazir-Light.eot');
    src: url('Fonts/vazir-font-v7/Vazir-Light.eot?#iefix') format('embedded-opentype'),
    url('Fonts/vazir-font-v7/Vazir-Light.woff') format('woff'),
    url('Fonts/vazir-font-v7/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
}

/* ---------------------------------------------------- types --------------------------------------------------- */
body {
    background-color: white;
}
header {
    width: 100%;
    margin: auto;
    padding: 10px;
    color: #3D4067;
    position:fixed;
    background: inherit;
    z-index: 10;
    background-color: white;
}
footer {
    margin: 2%;
    font-size: small;
    text-align: center;
    color: black;
}

h4 {
    float: right;
}

hr{
    width: 95%;
    border: none;
    height: 1px;
    background-color: #6D6D6D;
}

/* --------------------------------------------------- classes -------------------------------------------------- */

.heading {
    background-color: #686CA7;
    color: white;
    text-align: center;
    padding: 2%;
    margin: auto;
    width: 100%;
    margin-top: 80px;
    /*top: 500px;*/
}

.toolbar {
    width: 95%;
    /*margin: auto;*/
    /*padding: 10px;*/
    color: black;
    display: inline-block;
}

.container {
    margin: auto;
    top: 20%;
    z-index:5;
    overflow:auto;
}
.brand-logo {
    float: right;
    vertical-align: middle;
    font-size: large;
}
.brand-logo img {
    height: 40px;
    width: auto;
    vertical-align: middle;
    margin-left: 10px;
}
.brand-logo * {
    display: inline-block;
}

.toolbar {
    width: 95%;
    margin: auto;
    padding: 10px;
    color: black;
}

.place-middle-label {
    text-align: center;
    /*vertical-align: middle;*/
    font-size: small;
    color: #6D6D6D;
}

.place-middle-value {
    text-align: center;
    /*vertical-align: middle;*/
    font-size: large;
    color: black;
}

/*quar*/

.line {
    margin: auto;
    width: 75%;
    /*padding-top: 10px;*/
    color: black;
}

.lbl {
    float: right;
    margin-top: 2%;
    margin-bottom: 2%;
}

.gray-ticket-box {
    background-color: #EEEEEE;
    width: 95%;
    margin: auto;
    margin-top: 4%;
    border-radius: 5px;
    /*direction: rtl;*/
}

.ticket-rows {
    padding: 1%;
    display: inline-block;
}

.row-1-3 {
    width: 33%;
}

.row-1-4 {
    width: 24.5%;
}

.row-1-6 {
    width: 16%;
}

.row-1-12 {
    width: 8%;
}

.white-box {
    background-color: white;
    color: black;
    border-radius: 3px;
    /*margin: auto;*/
    margin-right: 0.2%;
    margin-bottom: 1%;
    font-size: medium;
    /*margin-left: 1%;*/
    /*padding: 1%;*/
}

.black-font {
    color: black;
}

/* -------------------------------------------------- IDs ----------------------------------------------------------- */
#search{
    display: inline;
    color: #3D4067;
}

#choose{
    display: inline;
    color: #3D4067;
}

#reserve{
    display: inline;
    color: #3D4067;
}

#ticket{
    display: inline;
    color: white;
}

/* ----------------------------------------------- small size screens ----------------------------------------------- */

@media only screen and (max-width: 600px) {
    .hidden-mobile{
        display: none;
    }

    .row-1-4 {
        width: 45%;
    }

    .row-1-12 {
        width: 45%;
    }

    .row-1-6 {
        width: 45%;
    }

    .row-1-3 {
        width: 95%;
    }

    .ticket-rows {
        margin: 2%;
    }
}


/* ----------------------------------------------- username-dropdown ----------------------------------------------- */

.dropbtn {
    background-color: white;
    color: #3D4067;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    border: none;
}
.username-dropdown {
    float: left;
    font-size: medium;
    vertical-align: middle;
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: #3D4067;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #EEEEEE}
.dropdown-content a:active {background-color: #D3D3D3}
.username-dropdown:hover .dropdown-content {
    display: block;
    border-radius: 5px;
}
.username-dropdown:hover .dropbtn {
    color: #686CA7;
}

/* ---------------------------------------------------- buttons ---------------------------------------------------- */

#print-button {
    float: left;
    padding-right: 2.5%;
    padding-left: 2.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
    text-align: center;
    border-radius: 5px;
    border:none;
    background-color: #f29488;
}
#print-button:hover{
    box-shadow: 5px 5px 5px #888888;
    transition: box-shadow 0.3s ease-in-out;
}