
<div class="heading">
    <div class="brand-logo">
        <img src="Images/LogoWhite.png" alt="">
        اکبر تیکت
        &reg;
    </div>
</div>

<div class="line">
    <hr>
</div>

<div class="buttons-login-form">
    <form class="login-form" name="myForm">

        <div class="form-line">
            <span>نام کاربری</span>
            <input class="loginusername" type="text" name="loginusername" value="" ng-model="loginRequest.username" required>
        </div>

        <div class="form-line">
            <span>رمز عبور</span>
            <input class="loginusername" type="password" name="loginpassword" value="" ng-model="loginRequest.password" required>
        </div>

        <div class = "login-button">
            <input type="submit" value="ورود" ng-click="loginCtrl.login()" ng-disabled="myForm.$invalid">
        </div>
    </form>
</div>
<div class="day-logo">
    <div class="slide-show">
        <img src="Images/HomeSlideShow/8.png" alt="" class="image">
        <img src="Images/HomeSlideShow/7.png" alt="" class="image">
        <img src="Images/HomeSlideShow/6.png" alt="" class="image">
        <img src="Images/HomeSlideShow/5.png" alt="" class="image">
        <img src="Images/HomeSlideShow/4.png" alt="" class="image">
        <img src="Images/HomeSlideShow/3.png" alt="" class="image">
        <img src="Images/HomeSlideShow/2.png" alt="" class="image">
        <img src="Images/HomeSlideShow/1.png" alt="" class="image">
    </div>
    <span class="cheap-text">سفر ارزان و آسان با اکبر تیکت</span>
</div>


<footer>ملیکا عیوقی، علی ایمان | دانشکده فنی دانشگاه تهران، بهار ۱۳۹۶</footer>