
<header>
    <div class="hidden-xs hidden-sm col-md-2 pull-right"></div>
    <div class="col-xs-6 col-sm-4 col-md-2 pull-right">
        <div class="brand-logo">
            <img src="Images/LogoBlack.png" alt="">اکبر تیکت
            ®
        </div>
    </div>
    <div class="hidden-xs col-sm-4 col-md-4 pull-right"></div>
    <div class="col-xs-6 col-sm-4 col-md-2 pull-right">
        <div class="username-dropdown">
            <button class="dropbtn"><i class="fa fa-user fa-fw"></i>نام کاربر</button>
            <div class="dropdown-content">
                <a href="#">بلیت های من</a>
                <a href="#">خروج</a>
            </div>
        </div>
    </div>
    <div class="hidden-xs hidden-sm col-md-2 pull-right"></div>
    <br> <br> <br>
</header>


<div class="container" ng-controller="ReserveController as reserveCtrl">
    <div class="heading">
        <div id="search" class="hidden-xs">جستجوی پرواز  &gt;</div>
        <div id="choose" class="hidden-xs">انتخاب پرواز  &gt;</div>
        <div id="reserve">ورود اطلاعات  &gt;</div>
        <div id="ticket" class="hidden-xs">دریافت بلیت</div>
    </div>
    <div class="toolbar">
        <div class="hidden-xs hidden-sm col-md-1 pull-right"></div>
        <div class="col-xs-6 col-sm-5 col-md-3 pull-right">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
            <div class="backtosearch"><span class="hidden-xs">برگشت به</span><span>صفحه ی نتایج </span></div>
        </div>
        <div class="hidden-xs col-sm-2 col-md-4 pull-right"></div>
        <div class="col-xs-6 col-sm-5 col-md-3 pull-right">
            <div class="timing">
                <span>زمان </span>
                <span class="hidden-xs">باقی مانده</span>
                <span>: </span>
                <span id="time">

                </span>
            </div>
        </div>
        <div class="hidden-xs hidden-sm col-md-1 pull-right"></div>
    </div>
    <div class="gray-back">
        <div class="gray-font">
            مشخصات پرواز انتخابی شما
        </div>
        <div class="row" id="flight-info">
            <div class="col-xs-12 col-sm-12 col-md-4 pull-right">
                <div class="place-middle">
                    {{flight.airlineCode + " " + flight.flightNumber}}
                </div>
                <div class="place-middle"><i class="fa fa-calendar-o" aria-hidden="true"></i> {{flight.date}}</div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 pull-right">
                <div class="place-middle">
                    {{flight.srcCode + " " + flight.departureTime + " >> " + flight.destCode + " " + flight.arrivalTime}}
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 pull-right">
                <div class="place-middle"><i class="fa fa-suitcase" aria-hidden="true"></i>
                    <span>کلاس</span>
                    <span>{{seatClass.name}}</span>
                </div>
                <div class="place-middle"><i class="fa fa-plane" aria-hidden="true"></i>
                    {{flight.airplaneModel}}
                </div>
            </div>
        </div>
        <div class="gray-font" id="paycheck">
            صورتحساب سفر
        </div>
        <div class="row" id="transfer-paycheck-info">
            <div id="paycheck-header">
                <div class="col-xs-6 col-sm-4 col-md-6 pull-right">
                </div>
                <div class="hidden-xs hidden-sm col-md-2 pull-right">
                    به ازای هر نفر
                </div>
                <div class="hidden-xs col-sm-4 col-md-2 pull-right">
                    تعداد
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 pull-right">
                    مجموع
                </div>
            </div>
            <div class="paycheck-line" id="first-line">
                <div class="col-xs-6 col-sm-4 col-md-6 pull-right">
                    بزرگسال
                </div>
                <div class="hidden-xs hidden-sm col-md-2 pull-right">
                    <span>
                    {{seatClass.adultPrice}}
                    </span>
                    <span>ریال</span>

                </div>
                <div class="hidden-xs col-sm-4 col-md-2 pull-right">
                    <span>{{passengerInfo.adultCount}}</span>
                    <span>نفر</span>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 pull-right">
                    <span>
                    {{passengerInfo.adultCount*seatClass.adultPrice}}
                    </span>
                    <span>ریال</span>

                </div>
            </div>
            <div class="paycheck-line" id="second-line">
                <div class="col-xs-6 col-sm-4 col-md-6 pull-right">
                    کودک زیر ۱۲ سال
                </div>
                <div class="hidden-xs hidden-sm col-md-2 pull-right">
                    <span>
                    {{seatClass.childPrice}}
                    </span>
                    <span>ریال</span>

                </div>
                <div class="hidden-xs col-sm-4 col-md-2 pull-right">
                    <span>{{passengerInfo.childCount}}</span>
                    <span>نفر</span>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 pull-right">
                    <span>
                    {{passengerInfo.childCount*seatClass.childPrice}}
                    </span>
                    <span>ریال</span>

                </div>
            </div>
            <div class="paycheck-line" id="third-line">
                <div class="col-xs-6 col-sm-4 col-md-6 pull-right">
                    نوزاد زیر ۲ سال
                </div>
                <div class="hidden-xs hidden-sm col-md-2 pull-right">
                    <span>{{seatClass.infantPrice}}</span>
                    <span>ریال</span>

                </div>
                <div class="hidden-xs col-sm-4 col-md-2 pull-right">
                    <span>{{passengerInfo.infantCount}}</span>
                    <span>نفر</span>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 pull-right">
                    <span>{{passengerInfo.infantCount*seatClass.infantPrice}}</span>
                    <span>ریال</span>


                </div>
            </div>
            <div class="paycheck-line" id="last-line">
                <div class="col-xs-6 col-sm-4 col-md-6 pull-right">
                    مجموع
                </div>
                <div class="hidden-xs hidden-sm col-md-2 pull-right">
                </div>
                <div class="hidden-xs col-sm-4 col-md-2 pull-right">
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 pull-right">
                    <span>{{passengerInfo.infantCount*seatClass.infantPrice + passengerInfo.childCount*seatClass.childPrice + passengerInfo.adultCount*seatClass.adultPrice}}</span>
                    <span>ریال</span>

                </div>
            </div>
        </div>
        <div class="gray-font" id="information">
            اطلاعات
        </div>

        <div class="alert alert-danger" hidden="true" id="wrongPassengerInfoAlert">
            مشخصات مسافران غلط وارد شده است! لطفا دوباره پر کنید.
        </div>

        <form id="passenger-form" name="myForm">
            <div class="passenger-info-list" ng-repeat="passenger in adultPassengerList">

                <div class="gray-row row">
                    <div class="col-xs-6 col-sm-6 col-md-2 pull-right place-middle">
                        <span class="hidden-mobile"><i class="fa fa-user fa-male"></i></span>
                        <span>{{$index+1}}-</span><span>بزرگسال:</span>
                    </div>
                    <select name="gender-1" class="col-xs-6 col-sm-6 col-md-1 pull-right place-middle" ng-model="adultPassengerList[$index].gender" required>
                        <option value="Mrs.">خانم</option>
                        <option value="Mr.">آقای</option>
                    </select>
                    <div class="col-xs-12 col-sm-12 col-md-3 pull-right place-middle">
                        <input class="passenger-info" name="name-1" type="text" placeholder="نام(انگلیسی)" title="first name with characters only" ng-model="adultPassengerList[$index].firstName" ng-minlength="2" ng-pattern="/^[a-zA-Z\s]*$/" required>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 pull-right place-middle">
                        <input class="passenger-info" name="surname-1" type="text" placeholder="نام خانوادگی(انگلیسی)" title="last name with characters only" ng-model="adultPassengerList[$index].lastName" ng-minlength="2" ng-pattern="/^[a-zA-Z\s]*$/" required>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 pull-right place-middle">
                        <input class="passenger-info" name="id-1" type="text" placeholder="شماره ملی" title="national id requires only numbers" ng-model="adultPassengerList[$index].nationalID" ng-minlength="10" ng-maxlength="10" ng-pattern="/^[0-9]*$/" required>
                    </div>
                </div>
            </div>

            <div class="passenger-info-list" ng-repeat="passenger in childPassengerList">
                <div class="gray-row row">
                    <div class="col-xs-6 col-sm-6 col-md-2 pull-right place-middle">


                        <span class="hidden-mobile"><i class="fa fa-user fa-child"></i></span>
                        <span>{{$index+1}}-</span><span>خردسال:</span>

                    </div>
                    <select name="gender-3" class="col-xs-6 col-sm-6 col-md-1 pull-right place-middle" ng-model="childPassengerList[$index].gender" required>
                        <option value="Mrs.">خانم</option>
                        <option value="Mr.">آقای</option>
                    </select>

                    <div class="col-xs-12 col-sm-12 col-md-3 pull-right place-middle">
                        <input class="passenger-info" name="name-3" type="text" placeholder="نام(انگلیسی)" title="first name with characters only" ng-model="childPassengerList[$index].firstName" ng-minlength="2" ng-pattern="/^[a-zA-Z\s]*$/" required>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 pull-right place-middle">
                        <input class="passenger-info" name="surname-3" type="text" placeholder="نام خانوادگی(انگلیسی)" title="last name with characters only" ng-model="childPassengerList[$index].lastName" ng-minlength="2" ng-pattern="/^[a-zA-Z\s]*$/" required>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 pull-right place-middle">
                        <input class="passenger-info" name="id-3" type="text" placeholder="شماره ملی" title="national id requires only numbers" ng-model="childPassengerList[$index].nationalID" ng-minlength="10" ng-maxlength="10" ng-pattern="/^[0-9]*$/" required>
                    </div>
                </div>
            </div>

            <div class="passenger-info-list" ng-repeat="passenger in infantPassengerList">

                <div class="gray-row row">
                    <div class="col-xs-6 col-sm-6 col-md-2 pull-right place-middle">

                        <span class="hidden-mobile" id="infant-8"><i class="fa fa-user fa-child"></i></span>
                        <span>{{$index+1}}-</span><span>نوزاد:</span>

                    </div>
                    <select name="gender-4" class="col-xs-6 col-sm-6 col-md-1 pull-right place-middle" ng-model="infantPassengerList[$index].gender" required>
                        <option value="Mrs.">خانم</option>
                        <option value="Mr.">آقای</option>

                    </select>

                    <div class="col-xs-12 col-sm-12 col-md-3 pull-right place-middle">
                        <input class="passenger-info" name="name-4" type="text" placeholder="نام(انگلیسی)" title="first name with characters only" ng-model="infantPassengerList[$index].firstName" ng-minlength="2" ng-pattern="/^[a-zA-Z\s]*$/" required>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 pull-right place-middle">
                        <input class="passenger-info" name="surname-4" type="text" placeholder="نام خانوادگی(انگلیسی)" title="last name with characters only" ng-model="infantPassengerList[$index].lastName" ng-minlength="2" ng-pattern="/^[a-zA-Z\s]*$/" required>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 pull-right place-middle">
                        <input class="passenger-info" name="id-4" type="text" placeholder="شماره ملی" title="national id requires only numbers" ng-model="infantPassengerList[$index].nationalID" ng-minlength="10" ng-maxlength="10" ng-pattern="/^[0-9]*$/" required>
                    </div>
                </div>
            </div>



            <div class="button-row">
                <div class="hidden-xs hidden-sm hidden-md hidden-lg">9</div>
                <div class="hidden-xs hidden-sm col-md-4 pull-right"></div>
                <div class="col-xs-6 col-sm-6 col-md-4 pull-right place-middle">
                    <button class="bottom-page-btn" id="reject-button">
                        <a href="Home-Search.html">انصراف</a>

                    </button>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4 pull-right place-middle">
                    <button class="bottom-page-btn" id="pay-button" data-ng-click="reserveCtrl.getTickets()" ng-class="{'disabledClass': myForm.$invalid}" ng-disabled="myForm.$invalid">
                        <span>پرداخت</span>
                        <span class="hidden-xs hidden-sm"> و ثبت نهایی  &gt;</span>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="filterButtons" id="setPassengerCounts">
        <div class="col-xs-6 col-sm-4 col-md-3  place-middle">
            <span class="inline">تعداد بزرگسالان</span>
            <select name="تعداد بزرگسالان" id="adultCount" class="filterInput" ng-model="adultCount">
                <option value="0">۰</option>
                <option value="1">۱</option>
                <option value="2">۲</option>
                <option value="3">۳</option>
                <option value="4">۴</option>
                <option value="5">۵</option>
                <option value="6">۶</option>
                <option value="7">۷</option>
                <option value="8">۸</option>
                <option value="9">۹</option>
            </select>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3  place-middle">
            <span class="inline">تعداد خردسالان</span>
            <select name="تعداد کودکان" id="childCount" class="filterInput" ng-model="childCount">
                <option value="0">۰</option>
                <option value="1">۱</option>
                <option value="2">۲</option>
                <option value="3">۳</option>
                <option value="4">۴</option>
                <option value="5">۵</option>
                <option value="6">۶</option>
                <option value="7">۷</option>
                <option value="8">۸</option>
                <option value="9">۹</option>
            </select>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3  place-middle">
            <span class="inline">تعداد نوزادان</span>
            <select name="تعداد خردسالان" id="infantCount" class="filterInput" ng-model="infantCount">
                <option value="0">۰</option>
                <option value="1">۱</option>
                <option value="2">۲</option>
                <option value="3">۳</option>
                <option value="4">۴</option>
                <option value="5">۵</option>
                <option value="6">۶</option>
                <option value="7">۷</option>
                <option value="8">۸</option>
                <option value="9">۹</option>
            </select>
        </div>
        <div class="col-xs-6 col-sm-12 col-md-3  place-middle">
            <button class="applyFilters" ng-click="reserveCtrl.refreshPassengerLists()">اعمال فیلتر ها</button>
        </div>

        <div>adult: {{adultCount}} child: {{childCount}} infant: {{infantCount}} adult list: {{adultPassengerList}} child list: {{childPassengerList}} infant list: {{infantPassengerList}}</div>
    </div>

</div>

<footer>ملیکا عیوقی، علی ایمان | دانشکده فنی دانشگاه تهران، بهار ۱۳۹۶</footer>
